.button{
    -fx-font-family: Verdana;
    -fx-text-fill: lightgrey;
}


.hyperlink{
    -fx-border-style: None;
    -fx-font-family: Verdana;
    -fx-border-color: transparent;
}

.upload{
    -fx-background-radius: 15px;
    -fx-background-color:  #007A9F;
    -fx-font-size: 14px;
}
.login{
    -fx-font-size: 20px;
    -fx-background-radius: 15px;
    -fx-background-color: #a1289f;
}
.round{
    -fx-background-color: #1f2328;
    -fx-text-fill: lightgrey;
    -fx-border-radius: 20;
    -fx-border-color: lightgrey;
    -fx-border-width: 2;
    -fx-font-family: Verdana;
    -fx-text-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 25px;
}

.round:hover{
    -fx-border-color: #a1289f;
    -fx-font-size: 27px;
    -fx-text-fill: #a1289f;
}

.round:pressed{
    -fx-border-color: #771f76;
    -fx-font-size: 27px;
    -fx-text-fill: #771f76;
}
.submit{
    -fx-background-color: #a1289f;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
}

.create{
    -fx-background-color: #568c58;
    -fx-font-size: 15px;
    -fx-background-radius: 12px;
}

.create:hover{
    -fx-background-color: #4b7a4d;
    -fx-font-size: 16px;
}

.create:pressed{
    -fx-background-color: #406942;
    -fx-font-size: 16px;
}

.upload{
    -fx-background-radius: 15px;
    -fx-background-color:  #007A9F;
    -fx-font-size: 14px;
}
.upload:hover{
    -fx-background-color: #046f91;
    -fx-font-size: 15px;
}

.upload:pressed{
    -fx-background-color: #025B77;
}

.submit:hover{
    -fx-background-color: #8f258d;
    -fx-font-size: 21px;
}

.submit:pressed{
    -fx-background-color: #771f76;
}

.login:hover{
    -fx-font-size: 21px;
    -fx-background-color: #8f258d;
}


.hyperlink:hover{
    -fx-text-fill: #a1289f;
    -fx-font-size: 15px;
}

.hyperlink:pressed{
    -fx-text-fill: #771f76;
    -fx-font-size: 15px;
}

.menuButton{
    -fx-background-color: #d3d3d3;
    -fx-border-color: black;
}

.back{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.main {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.main:hover {
    -fx-pref-width: 150px;
}

main.buttonText{
    -fx-alignment: center;
}

.main:hover .buttonText{
    visibility: visible;
}

.main:hover .buttonImage{
    -fx-translate-x: 10px
}

.mainHelp {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-translate-x: 10px
}

.settingsEdit {
    -fx-background-color: #a1289f;
    -fx-font-size: 15px;
    -fx-background-radius: 12px;
}

.settingsEdit:hover {
    -fx-font-size: 16px;
    -fx-background-color: #8f258d;
}

.delete {
    -fx-background-color: #9f0202;
    -fx-font-size: 15px;
}

.delete:hover {
    -fx-background-color: #730000;
    -fx-font-size: 16px;
}

.settingsLogout {
    -fx-background-color: #d3d3d3;
    -fx-font-size: 15px;
    -fx-text-fill: #151617;
}

.settingsLogout:hover {
    -fx-background-color: #a7a7a7;
    -fx-font-size: 16px;
}


.viewButton{
    -fx-background-radius: 10px;
    -fx-background-color:  #007A9F;
    -fx-font-size: 14px;
}
.viewButton:hover{
    -fx-background-color: #046f91;
}

.viewButton:pressed{
    -fx-background-color: #025B77;
}


.disabledMain {
    -fx-background-color: transparent;
}

