.button {
    -fx-font-size: 10;
}

.training:hover {
    -fx-background-color: #8f258d;
}

.training:pressed {
    -fx-background-color: #771f76;
}

.training {
    -fx-font-size: 10;
    -fx-background-color: #a1289f;
}


.button:hover {
    -fx-background-color: #8f258d;

}
.button:pressed {
    -fx-background-color: #771f76;
}

.game:hover {
    -fx-background-color: #046f91;

}
.game:pressed {
    -fx-background-color: #025B77;
}

.game {
    -fx-font-size: 10;
    -fx-background-color:  #007A9F;
}

.calendarEvent:hover {
    -fx-background-color: #046f91;

}
.calendarEvent:pressed {
    -fx-background-color: #025B77;
}

.calendarEvent {
    -fx-font-size: 10;
    -fx-background-color:  #007A9F;
}
