
.date-picker .text-field {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: lightgrey;
    -fx-text-fill: lightgrey;
    -fx-background-color:  #1f2328;
    -fx-font-size: 20px;
}
.date-picker:hover .text-field{
    -fx-border-color:  #a1289f;
    -fx-font-size: 21px;
}
.date-picker{
    -fx-background-color: transparent;
}
.date-picker:focused .text-field{
    -fx-border-color:  #a1289f;
}