.detailsGrid Line {
    -fx-stroke   :  a1289f;
    -fx-stroke-width: 0.5px;
}

.statsGrid Line {
    -fx-stroke   :  d3d3d3;
    -fx-stroke-width: 1.5px;
}

.detailsLabel{
    -fx-text-fill: d3d3d3;
    -fx-font-size: 18px;
}

.title{
    -fx-text-fill: d3d3d3;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

.standings{
    -fx-text-fill: d3d3d3;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

.description{
    -fx-text-fill: d3d3d3;
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

.little{
    -fx-text-fill: d3d3d3;
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-max-width: Infinity;
}

