.button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.buttonText{
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #343a42;
    -fx-pref-width: 150px;
}

.help:hover{
    -fx-pref-width: 120px;
}


.button:hover .buttonText{
    visibility: visible;
}

.button:hover .buttonImage{
    -fx-translate-x: 10px
}


.button:pressed {
    -fx-background-color: #343a42;
}

.notificationButton:hover {
    -fx-background-color: #343a42;
}

.cancel .label{
    -fx-text-fill: #d3d3d3;
}